<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret XML Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        pre {
            background-color: #f4f4f4;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Secret XML Example</h1>
    <pre>{{ xml_example }}</pre>
    
    <div>
        <img src="img/chipi-chipi-chapa-chapa.gif" width="300">
    </div>
</body>
</html>
